<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724514251476-mtc0i2gnru0qfs7mnsb3h2mcddok2m54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724514251476-mtc0i2gnru0qfs7mnsb3h2mcddok2m54</string>
	<key>API_KEY</key>
	<string>AIzaSyCYTe2IgbjwwKtwY2Lof6nLitk7FEmBQ8o</string>
	<key>GCM_SENDER_ID</key>
	<string>724514251476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.favg.libros</string>
	<key>PROJECT_ID</key>
	<string>libros-favg</string>
	<key>STORAGE_BUCKET</key>
	<string>libros-favg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724514251476:ios:cff47b0fc78aea49bd5141</string>
</dict>
</plist>